body {
    background: linear-gradient(90deg, #c0e6ff 0%, #d9f5ff 50%, #c8ffea 100%);
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template:
        "canvas toggle-arrow menu" auto
        "play-pause-bar toggle-arrow menu" auto;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 75vw;
    height: 90vh;
    grid-area: canvas;
    flex-grow: 1;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

#menu {
    height: 100vh;
    width: 21vw;
    grid-area: menu;
    justify-content: center;
    align-content: center;
}

#toggle-arrow {
    width: 4vw;
    justify-content: center;
}

#arrow {
    width: 3vw;
    padding-top: 1vh;
    padding-right: 1vh;
    position: absolute;
    top: 0;
}

#play-pause-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: play-pause-bar;
}

.play-pause-image {
    width: 5%;
    padding-left: 2%;
    padding-right: 2%;
    opacity: 1;
}

.play-pause-image:hover {
    width: 4.8%;
    opacity: 0.7;
}