body {
    /*background: linear-gradient(90deg, #c0e6ff 0%, #d9f5ff 50%, #096d88 100%);*/
    background: linear-gradient(90deg, #beddff 0%, #beffe0 100%);
    margin: 0;
    padding: 0;
    font-family: "Itim", cursive;
    font-size: 1vw;
}

.container {
    display: grid;
    grid-template:
        "canvas toggle-arrow menu" auto
        "play-pause-bar toggle-arrow menu" auto;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 100vw;
    height: 90vh;
    grid-area: canvas;
    flex-grow: 1;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

#toggle-arrow {
    margin-left: -29.8vw;
    justify-content: center;
}

#arrow {
    width: 3vw;
    padding-top: 1vh;
    padding-right: 1vh;
    position: absolute;
    top: 0;
}

#menu {
    height: 99.8vh;
    margin-left: -24.9vw;
    width: 24.8vw;
    grid-area: menu;
    justify-content: center;
    align-content: center;
    border: 0.1vh solid rgba(255, 255, 255, 0.30);
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
    text-align: left;
}

#cycle-buttons {
    width: 100%;
    text-align: left;
}

#buttons {
    display: flex;
    justify-content: left;
    align-items: center;
}

.button-container {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    width: 50%;
}

button {
    margin-top: 2%;
    background: rgba(255, 255, 255, 0.20);
    border-color: rgba(255, 255, 255, 0.30);
    border-radius: 1vh;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    width: 8vw;
    height: 4vh;
    font-family: "Itim", cursive;
    font-size: 1vw;
}

button:hover {
    background: rgba(255, 255, 255, 0.30);
    width: 7.5vw;
    height: 3.5vh;
    font-size: 0.75vw;
}

.two-sliders-container {
    width: 100%;
    display: flex;
    justify-content: left;
}

.slider-container {
    margin: 5%;
    width: 50%;
}

.slider-value {
    -moz-appearance: textfield;
    padding: 2%;
    margin-left: 4%;
    background: rgba(255, 255, 255, 0.20);
    /*border-color: rgba(255, 255, 255, 0.30);*/
    border-color: transparent;
    border-radius: 1vh;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    field-sizing: content;
    font-family: "Itim", cursive;
    font-size: 0.75vw;
}

.slider-value::-webkit-outer-spin-button, .slider-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slider {
    margin-top: 1vw;
    width: 100%;
    height: 1vh;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.20);
    border-color: rgba(255, 255, 255, 0.30);
    border-radius: 1vh;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.slider:hover {
    background: rgba(255, 255, 255, 0.30);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: linear-gradient(90deg, #155799 0%, #159957 100%);
    border-color: black;
    width: 1vw;
    height: 1vw;
    border-radius: 100%;
}

.slider::-moz-range-thumb {
    cursor: pointer;
    background: linear-gradient(90deg, #155799 0%, #159957 100%);
    border-color: black;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;
}

.slider-range {
    display: flex;
    justify-content: space-between;
    color: darkgrey;
}

#play-pause-bar {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: play-pause-bar;
}

.play-pause-image {
    height: 80%;
    padding-left: 2%;
    padding-right: 2%;
    opacity: 1;
}

.play-pause-image:hover {
    height: 79%;
    opacity: 0.7;
}